<!--The content below is only a placeholder and can be replaced.-->
<div>

  <h2>ngx-translate-messageformat-compiler demo</h2>

  <h3>Switch languages at runtime:</h3>

  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('de')">de</button>


  <h3>Pluralization</h3>
  <ul>
    <li translate="" [translateParams]="{ count: 1 }">icu.pluralization</li>
    <li>{{'icu.pluralization' | translate:{ 'count': 2 } }}</li>
  </ul>

  <h3>Selection</h3>
  <ul>
    <li translate [translateParams]="{ 'gender': 'male', 'product': 'BabelEdit' }">icu.select</li>
    <li>{{'icu.select' | translate:{ 'gender': 'other', 'product': 'BabelEdit' } }}</li>
  </ul>

</div>
