<!--The content below is only a placeholder and can be replaced.-->
<div>

  <h2>{{ 'demo.title' | translate }}</h2>

  <h3>Switch languages at runtime:</h3>

  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('de')">de</button>

  <h3>Simple translations without parameters</h3>

  <!-- translation: translation pipe -->
  <h4>Pipe</h4>
  <p>{{ 'demo.text' | translate }}</p>

  <h4>Directive: key as attribute</h4>
  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <h4>Directive: key as content</h4>
  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>


  <h3>Translations with parameters</h3>

  <h4>Pipe</h4>
  <!-- translation: translation pipe -->
  <p>{{ 'demo.greeting' | translate:{'name':'Andreas'} }}</p>

  <h4>Directive: key as attribute</h4>
  <!-- translation: directive (key as attribute) -->
  <p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>

  <h4>Directive: key as content</h4>
  <!-- translation: directive (key as content of element)-->
  <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>

  <h3>Using translation IDs in your component</h3>
  <p>{{ idFromCode | translate }}</p>

  <h3>Text translated in code</h3>

  <h4>Translated once (does not support switching langues at runtime)</h4>
  <p>{{ translatedMessageFromCode }}</p>

  <h4>Continuous update (supports language switching)</h4>
  <p>{{ continuouslyTranslatedMessage}}</p>


</div>
